### Imports

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.random.randint(0,100,size=(15, 4)), columns=list('ABCD'))
df.head(3)

    A   B   C   D
0  59  70  31  88
1  93  56  19   7
2   6  75  94  57